{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login - Gas Utility Service{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Sign In</h4>
            </div>
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-primary">Sign In</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <p class="mb-0">Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}